/*-------------------------------------------
	共通部分
  -------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

/*-------------------------------------------
  ページ全体
  -------------------------------------------*/
.page-wrapper {
  width: 100%;
  padding: 0 40px;
  max-width: 1280px;
  margin: 0 auto;
}

/*-------------------------------------------
  メインコンテンツ
  -------------------------------------------*/
.main-content {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

/*-------------------------------------------
  これより下にコードを追加してください。
  -------------------------------------------*/
/*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}

.menu-nav {
  display: flex;
  gap: 24px;
}

.menu-nav li:hover {
  opacity: 0.7;
}

/*-------------------------------------------
  メインビジュアル
  -------------------------------------------*/
.main-visual {
  width: 100%;
  height: 640px;
  border-radius: 16px;
  object-fit: cover;
}

/*-------------------------------------------
  セクション 共通部分
  -------------------------------------------*/
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.section-title {
  border-bottom: solid 1px #000000;
}

/* -------------------------------------------
  プロフィール
  -------------------------------------------*/
.profile {
  display: flex;
  align-items: center;
  gap: 40px;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.my-profile {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* -------------------------------------------
  記事
  -------------------------------------------*/
.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 16px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.article-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/*-------------------------------------------
  フッター
  -------------------------------------------*/
.footer {
  padding: 40px 0;
  font-size: small;
  text-align: center;
}

