/*-------------------------------------------
	共通部分
  -------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

/*-------------------------------------------
  ページ全体
  -------------------------------------------*/
.page-wrapper {
  width: 100%;
  padding: 0 40px;
  max-width: 1280px;
  margin: 0 auto;
}

/*-------------------------------------------
  メインコンテンツ
  -------------------------------------------*/
.main-content {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

/*-------------------------------------------
  これより下にコードを追加してください。
  -------------------------------------------*/
/*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}

.menu-nav {
  display: flex;
  gap: 24px;
}

.menu-nav li:hover {
  opacity: 0.7;
}

/*-------------------------------------------
  メインビジュアル
  -------------------------------------------*/
.main-visual {
  object-fit: cover;
  width: 100%;
  height: 640px;
  border-radius: 16px;
}

/*-------------------------------------------
  セクション 共通部分
  -------------------------------------------*/
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}



/* -------------------------------------------
  プロフィール
  -------------------------------------------*/


/* -------------------------------------------
  記事
  -------------------------------------------*/


/*-------------------------------------------
  フッター
  -------------------------------------------*/